@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;

.input {
  display: flex;
  margin-bottom: 1rem;
  padding-top: 1rem;
  width: 100%;
  align-items: center;

  &__label {
    @include mLabels;
    width: 6.25rem;
  }
  &__field {
    font-size: 0.75rem;
    border-radius: 0.25rem;
    padding: 0.375rem 0.75rem;
    border: 2px solid $other-color;

    &:focus {
        border: 2px solid $primary-cta-color; 
    }
  }
}
