@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;

.favorites-page {
  background-color: $alt-background-color;
  padding-bottom: 8rem;

  &__container {
    @include componentSpacing;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
  }

  &__auth {
    background-image: url(../../assets/images/banner-img-4.jpg);
    background-position: center;
    background-size: cover;
    @include componentSpacing;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40.25rem;

    &-overlay {
      @include Overlay;
      @include componentSpacing;
      position: absolute;
      top: 8.375rem;
      bottom: 1.5625rem;
      height: 40.25rem;
    }
    &-wrapper {
      z-index: 100;
    }
    &-title {
      @include mHeader;
      color: $alt-background-color !important;
      font-weight: 600;

      @include tablet {
        @include Header;
        font-weight: 600;
      }
    }
    &-text {
      @include mBodyMedium;
      color: $alt-background-color !important;

      @include tablet {
        @include BodyMedium;
      }
    }
    &-link {
      color: $logo-color;
      font-weight: 600;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  &__title {
    @include PageTitle;
  }
  &__validation {
    @include componentSpacing;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 31rem;
  }
  &__validation-title {
    @include mBodyLarge;
    color: $primary-cta-color;

    @include tablet {
      @include BodyLarge;
      font-size: 1.5rem;
      color: $primary-cta-color;
    }
  }
  &__validation-art {
    margin: 0;
    color: $primary-cta-color;
    font-size: 3.75rem;
  }
  &__validation-link {
    margin: 0;
    color: $primary-cta-color;
    font-weight: 600;
    &:hover {
      text-decoration: underline;
    }
  }
  &__listings {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin: 2rem 0;

    @include tablet {
      justify-content: center;
      gap: 1rem;
    }
  }
}
