@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;

.faq {
  background-color: $alt-background-color;

  &__container {
    @include componentSpacing;
    display: flex;
    flex-direction: column;
  }

  &__title {
    @include PageTitle;
  }
  &__list {
    list-style-type: none;
    padding: 1rem 0;
  }
  &__question {
    @include mBodyLarge;
    color: $primary-text-color;
    font-weight: 600;

    @include tablet {
      @include BodyLarge;

      font-weight: 600;
      color: $primary-text-color;
    }
  }
  &__answer {
    @include mBodyLarge;
    color: $primary-cta-color;

    @include tablet {
      @include BodyLarge;

      color: $primary-cta-color;
      padding-bottom: 2rem;
    }
  }
  &__brand-name {
    font-weight: 600;
    color: $primary-cta-color;
  }
}
