// primary colors
$primary-text-color: #323232; //exposhare black
$primary-cta-color: #3a5a40; //exposhare-hunter-green
$alt-text-color: #AFAFAF; //silver
$background-color: #FFFFFF; //white

// secondary colors
$secondary-color: #000000; //exposhare-darkblack
$hover-cta-color: #344e41; //exposhare-brunswick green
$logo-color: #a3b18a; //logo sage
$divider-color: #588157; // fern
$alt-background-color: #FAFAFA; //alabaster
$error-color: #d22d2d; //error state 