@use "./variables" as *;
@use "./colors" as *;

@mixin tablet {
  @media screen and (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop-breakpoint) {
    @content;
  }
}

@mixin list-type {
  list-style-type: none;
  text-decoration: none;
}

//component spacing
@mixin componentSpacing {
  padding: 0 1rem;

  @include tablet {
    padding: 0 2.5rem;
  }
  @include desktop {
    padding: 0 7.5rem;
    margin: 0 auto;
    max-width: 100rem;
  }
}

// mobile text styles

@mixin mHeader {
  color: $primary-text-color;
  font-size: 28px;
  font-weight: 600;
  line-height: 2.25rem;
}

@mixin mSubheader {
  color: $primary-text-color;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.75rem;
}

@mixin mLabels {
  color: $primary-text-color;
  font-size: 13px;
  font-weight: 600;
  line-height: 1.25rem;
}

@mixin mButtons {
  font-size: 13px;
  font-weight: 600;
  line-height: 1.25rem;
  cursor: pointer;
}

@mixin mBodyLarge {
  color: $primary-text-color;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.625rem;
}

@mixin mBodyMedium {
  color: $primary-text-color;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.25rem;
}

@mixin mBodySmall {
  color: $primary-text-color;
  font-size: 11px;
  font-weight: 400;
  line-height: 1rem;
}

// tablet & desktop text styles

@mixin Header {
  color: $primary-text-color;
  font-size: 40px;
  font-weight: 600;
  line-height: 2.5rem;
}

@mixin Subheader {
  color: $primary-text-color;
  font-size: 2rem;
  font-weight: 600;
  line-height: 2rem;
}

@mixin Labels {
  color: $primary-text-color;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.375rem;
}

@mixin Buttons {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.375rem;
  cursor: pointer;
  color: $third-color;
  background-color: $primary-cta-color;
  border: 2px solid $primary-cta-color;
  padding: 0 1rem;
  border-radius: 0.25rem;
  transition-duration: 0.4s;

  &:hover {
    background-color: $hover-cta-color;
    color: $divider-color;
    border: 2px solid $primary-cta-color;
  }
  &:active {
    box-shadow: 0 0.3125rem #666;
    transform: translateY(4px);
  }
}

@mixin BodyLarge {
  color: $primary-text-color;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.75rem;
}

@mixin BodyMedium {
  color: $primary-text-color;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.375rem;
}

@mixin BodySmall {
  color: $primary-text-color;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.125rem;
}

//extra

@mixin PageTitle {
  @include mHeader;
  display: flex;
  padding-bottom: 1rem;
  border-bottom: 0.125rem solid $primary-cta-color;
  align-items: flex-end;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 0;

  @include tablet {
    @include Header;
  }
}
