@use "./variables" as *;

@mixin tablet {
  @media screen and (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop-breakpoint) {
    @content;
  }
}

@mixin list-type {
  list-style-type: none;
  text-decoration: none;
}

//component spacing
@mixin componentSpacing {
  padding: 0 1rem;

  @include tablet {
    padding: 0 2.5rem;
  }
  @include desktop {
    padding: 0 7.5rem;
    margin: 0 auto;
    max-width: 80rem;
  }
}

// mobile text styles

@mixin mHeader {
  font-size: 28px;
  font-weight: 600;
  line-height: 2.25rem;
}

@mixin mSubheader {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.75rem;
}

@mixin mLabels {
  font-size: 13px;
  font-weight: 600;
  line-height: 1.25rem;
}

@mixin mButtons {
  font-size: 13px;
  font-weight: 600;
  line-height: 1.25rem;
}

@mixin mBodyLarge {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.625rem;
}

@mixin mBodyMedium {
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.25rem;
}

@mixin mBodySmall {
  font-size: 11px;
  font-weight: 400;
  line-height: 1rem;
}

// tablet & desktop text styles

@mixin Header {
  font-size: 2rem;
  font-weight: 600;
  line-height: 2.5rem;
}

@mixin Subheader {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2rem;
}

@mixin Labels {
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.375rem;
}

@mixin Buttons {
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.375rem;
}

@mixin BodyLarge {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.75rem;
}

@mixin BodyMedium {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.375rem;
}

@mixin BodySmall {
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.125rem;
}
