@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;

.hero-banner {
  position: relative;
  width: 100%;
  height: 25rem;
  overflow: hidden;

  @include tablet {
    height: 31.25rem;
  }

  @include desktop {
    height: 37.5rem;
  }
  &__container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: $background-color;
    z-index: 30;
  }

  &__title {
    font-size: 2rem;
    color: $background-color;

    @include tablet {
      font-size: 4rem;
    }
  }

  &__slogan {
    @include componentSpacing;
    font-size: 20px;
    font-weight: 400;
    color: $background-color;

    @include tablet {
      font-size: 32px;
    }
  }

  &__item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s;
    z-index: 1;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $primary-text-color;
    opacity: 0.3;
    z-index: 2;
  }
}
