@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;

.user-listings {
  position: relative;
  &__title {
    display: flex;
    justify-content: space-between;
    @include mSubheader;
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 1rem;
    flex-direction: column;

    @include tablet {
      @include Subheader;
      flex-direction: row;
      font-size: 1.25rem;
      font-weight: 600;
    }
  }

  &__button-create {
    @include Buttons;
    margin: 1rem 0 0;
    width: 70%;
    align-self: center;

    @include tablet {
      @include Buttons;
      width: 12rem;
      margin: 0;
      padding: 0.25rem 1rem;
    }
  }

  &__button-view {
    @include Buttons;
    width: 70%;

    @include tablet {
      @include Buttons;
      width: 8rem;
      margin: 0;
      padding: 0.25rem 1rem;
    }
  }

  &__section {
    display: flex;
    flex-direction: column;

    @include tablet {
      display: flex;
      flex-direction: column;
      height: 618px;
      gap: 1rem;
      overflow-y: scroll;
    }
  }
  &__wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1rem 0;
    padding: 1rem 0;
    align-items: center;
  }
  &__subtitle {
    @include mBodyLarge;
    display: flex;
    font-weight: 400;
    margin: 0;
    align-items: center;
    &--spacing {
      padding-right: 0.75rem;
    }
    @include tablet {
      @include BodyLarge;
      font-weight: 400;
    }
  }
  &__art {
    font-size: 40px;
  }
  &__item {
    background-color: $background-color;
    display: flex;
    flex-direction: column;
    border: 2px solid $divider-color;
    border-radius: 6px;
    box-shadow: 0px 3px 3px -2px $primary-text-color;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    width: 90%;
    margin: 1rem auto;

    @include tablet {
      width: 350px;
    }
  }
  &__image {
    width: 100%;
    object-fit: cover;
    overflow: hidden;
    border-radius: 0.625rem;
  }
  &__container {
    display: flex;
    width: 100%;
    height: 12.5rem;

    @include tablet {
      width: 100%;
      height: 12.5rem;
    }
  }
  &__block {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1rem 0 0;
    padding: 1rem 0;
    border-top: 0.125rem solid $divider-color;
    align-items: center;
  }

  &__info-title {
    @include mBodyLarge;
    font-weight: 600;
    padding-bottom: 0.25rem;
    margin: 0;
    display: flex;
    width: 100%;
    gap: 1rem;

    @include tablet {
      @include BodyLarge;
      font-weight: 600;
    }
  }
  &__details {
    @include mBodyLarge;
    display: flex;
    font-weight: 400;
    margin: 0;
    align-items: center;
    width: 60%;

    &--spacing {
      padding-right: 0.75rem;
    }
    @include tablet {
      @include BodyLarge;
      font-weight: 400;
    }
  }
  &__actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  &__icon-edit {
    height: 1.5rem;
    margin: 0.5rem 0;
    cursor: pointer;
  }
  &__icon-delete {
    height: 1.5rem;
    margin: 0.5rem 0;
    cursor: pointer;
  }
}
