@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;

.user-listings {
  position: relative;
  &__title {
    display: flex;
    justify-content: space-between;
    @include mSubheader;
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 1rem;

    @include tablet {
      @include Subheader;
      font-size: 1.25rem;
      font-weight: 600;
    }
  }
  &__button {
    @include Buttons;
    color: $third-color;
    background-color: $primary-cta-color;
    border: 2px solid $primary-cta-color;
    padding: 0 1rem;
    border-radius: 0.25rem;
    transition-duration: 0.4s;

    &:hover {
      background-color: $hover-cta-color;
      color: $divider-color;
      border: 2px solid $primary-cta-color;
    }
    &:active {
      box-shadow: 0 0.3125rem #666;
      transform: translateY(4px);
    }
  }

  &__section {
    display: flex;
    gap: 1rem;
    overflow-x: scroll;
  }
  &__item {
    background-color: $background-color;
    display: flex;
    flex-direction: column;
    border: 2px solid $divider-color;
    border-radius: 6px;
    box-shadow: 0px 3px 3px -2px $primary-text-color;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    width: 400px;


    &-edit {
      width: 100%;
      display: flex;
      justify-content: flex-end;
    }
    &-icon {
      width: 1.5rem;
      margin: 0.5rem 0;
    }
    &-container {
      width: 200px;
      height: 200px;
      display: flex;
    }

    &-image {
      object-fit: cover;
      overflow: hidden;
      border-radius: 0.625rem;
    }
    &-block {
      width: 100%;
      display: flex;
      flex-direction: row;
      gap: 1rem;
      margin-top: 1rem;
      border-top: 2px solid $divider-color;
      padding: 1rem 0;
    }
    &-wrapper {
      &--left {
        display: flex;
        flex-direction: column;
      }
      &--right {
        display: flex;
        flex-direction: column;
        width: 100%;
      }
    }
    &-type {
      @include mBodyLarge;
      font-weight: 600;
      margin: 0;
      padding-bottom: 4px;
     
      @include tablet {
        @include BodyLarge;
        font-weight: 600;
      }
    }
    &-value {
      @include mBodyLarge;
      font-weight: 600;
      margin: 0;
      padding-bottom: 4px;
      @include tablet {
        @include BodyLarge;
      }
    }
  }
}
