@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;

.user-listings {
  position: relative;
  &__title {
    display: flex;
    justify-content: space-between;
    @include mSubheader;
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 1rem;

    @include tablet {
      @include Subheader;
      font-size: 1.25rem;
      font-weight: 600;
    }
  }
  &__button {
    @include Buttons;
  }

  &__section {
    display: flex;
    flex-direction: column;

    @include tablet {
      display: flex;
      flex-direction: column;
      height: 618px;
      gap: 1rem;
      overflow-y: scroll;
    }
  }
  &__wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1rem 0;
    padding: 1rem 0;
    align-items: center;
  }
  &__subtitle {
    @include mBodyLarge;
    display: flex;
    font-weight: 400;
    margin: 0;
    align-items: center;
    &--spacing {
      padding-right: 0.75rem;
    }
    @include tablet {
      @include BodyLarge;
      font-weight: 400;
    }
  }
  &__art {
    font-size: 40px;
  }
  &__item {
    background-color: $background-color;
    display: flex;
    flex-direction: column;
    border: 2px solid $divider-color;
    border-radius: 6px;
    box-shadow: 0px 3px 3px -2px $primary-text-color;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    width: 90%;
    margin: 1rem auto;

    @include tablet {
      width: 350px;
    }
  }
  &__image {
    width: 100%;
    object-fit: cover;
    overflow: hidden;
    border-radius: 0.625rem;
  }
  &__container {
    display: flex;
    width: 100%;
    height: 12.5rem;

    @include tablet {
      width: 100%;
      height: 12.5rem;
    }
  }
  &__block {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1rem 0;
    padding: 1rem 0;
    border-top: 0.125rem solid $divider-color;
    align-items: center;
  }

  &__info-title {
    @include mBodyLarge;
    font-weight: 600;
    padding-bottom: 0.25rem;
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 5rem;
    align-items: center;

    @include tablet {
      @include BodyLarge;
      font-weight: 600;
    }
  }
  &__details {
    @include mBodyLarge;
    display: flex;
    font-weight: 400;
    margin: 0;
    align-items: center;
    &--spacing {
      padding-right: 0.75rem;
    }
    @include tablet {
      @include BodyLarge;
      font-weight: 400;
    }
  }

}
