@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;

.signup-container {
  background-color: $alt-background-color;
}

.signup {
  @include componentSpacing;
  display: flex;
  flex-direction: column;

  &__title {
    @include PageTitle;
  }
  &__subtitle {
    @include mBodyMedium;
    display: flex;
    width: 100%;

    @include tablet {
      @include BodyMedium;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;

    width: 100%;
  }
  &__button {
    @include mButtons;
    color: $third-color;
    background-color: $primary-cta-color;
    border: 0.125rem solid $primary-cta-color;
    width: 100%;
    border-radius: 0.25rem;
    transition-duration: 0.4s;
    margin: 2rem 0;
    padding: 0.125rem 0.625rem;

    &:hover {
      background-color: $hover-cta-color;
      color: $divider-color;
      border: 2px solid $primary-cta-color;
    }
    &:active {
      box-shadow: 0 0.3125rem #666;
      transform: translateY(4px);
    }

    @include tablet {
      @include Buttons;
      width: 6rem;
    }
  }
  &__text {
    @include mBodyMedium;

    @include tablet {
      @include BodyMedium;
    }
  }
  &__success-message {
    @include mBodyMedium;
    color: $success-color;
    @include tablet {
      @include BodyMedium;
      color: $success-color;
    }
  }
  &__error-message {
    @include mBodyMedium;
    color: $error-color;
    @include tablet {
      @include BodyMedium;
      color: $error-color;
    }
  }
}
