@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;

.about {
  background-color: $third-color;

  &__wrapper {
    @include componentSpacing;
    display: flex;
    flex-direction: column;
    @include desktop {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__container-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include desktop {
      align-items: flex-start;
      justify-content: space-between;
      width: 50%;
      padding-bottom: 1.6875rem;
    }
  }
  &__container-right {
    @include desktop {
      display: flex;

      padding: 1.6875rem 0;
      width: 50%;
    }
  }

  &__title {
    @include mSubheader;
    margin-bottom: 0;

    @include tablet {
      @include Subheader;
      margin: 1rem 0;
    }
  }
  &__image {
    background-color: $background-color;
    object-fit: cover;
    width: 100%;
    border-radius: 0.25rem;
    margin-bottom: 1rem;

    @include desktop {
      margin-bottom: 0;
    }
  }

  &__bio {
    @include mBodyLarge;
    margin: 1rem;

    @include tablet {
      @include BodyLarge;
      margin: 1rem 2rem 1rem 0;
    }
  }
  &__button {
    @include Buttons;
    margin: 1rem 0;
    width: 100%;

    @include desktop {
      margin: 1rem 0;
    }
  }
  &__brand-name {
    font-weight: 600;
    color: $primary-cta-color;
  }
}
