@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;

.user-actions {
  &__wrapper-button {
    padding-top: 2rem;
    border-top: 2px solid $divider-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  &__button {
    &-logout {
      font-size: 0.875rem;
      font-weight: 600;
      line-height: 1.375rem;
      cursor: pointer;
      background-color: $third-color;
      color: $primary-cta-color;
      width: 5rem;
      height: 1.75rem;
      border: 0.125rem solid $other-color;
      border-radius: 0.25rem;
      transition-duration: 0.4s;
      margin: 1rem 0;

      &:hover {
        background-color: $other-hover-color;
        color: $primary-cta-color;
      }
      &:active {
        box-shadow: 0 0.3125rem #666;
        transform: translateY(4px);
      }
    }
    &-delete {
      cursor: pointer;
      background-color: transparent;
      border: none;
      padding: 1rem;
      color: $error-color;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
