@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;

.user-actions {
  &__wrapper-button {
    padding: 2rem 0;
    border-top: 0.125rem solid $divider-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  &__button {
    &-delete {
      cursor: pointer;
      background-color: transparent;
      border: none;
      padding: 1rem;
      color: $error-color;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
