@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;

.about-page {
  background-color: $alt-background-color;

  &__wrapper {
    @include componentSpacing;
    display: flex;
    flex-direction: column;
    @include desktop {
      justify-content: space-between;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;

    @include tablet {
      flex-direction: row;
    }
  }
  &__container-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 1rem;

    @include desktop {
      padding-right: 6rem;
      width: 60%;
      margin: 2rem 0 6.25rem;
      gap: 1rem;
    }
  }
  &__container-right {
    display: flex;
    flex-direction: column;

   
    @include desktop {
      width: 40%;
      margin: 2rem 0 6.25rem;
      
    }
  }
  &__title {
    @include PageTitle;
    margin-bottom: 0;
  }
  &__image {
    background-color: $background-color;
    box-shadow: 0 0.875rem 0.875rem -0.25rem $alt-text-color;
    width: 100%;
    object-fit: cover;
    margin: 1rem 0;
    height: 700px;
  }

  &__text {
    @include mBodyLarge;
    margin: 1rem 0;

    @include tablet {
      @include BodyLarge;
    }
  }
  &__brand-name {
    font-weight: 600;
    color: $primary-cta-color;
  }

  &__link {
    color: $primary-cta-color;
    font-weight: 600;
  }
}
