@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;

.profile__container {
  background-color: $alt-background-color;
}
.profile-page {
  @include componentSpacing;
    display: flex;
    flex-direction: column;
    justify-content: center;
  position: relative;
}

.edit-user {
  position: absolute;
  top: 8%;
  right: 9%;
  width: 82%;
  max-width: 82%;
  z-index: 20;

  @include tablet {
    top: 5%;
    right: 15%;
    width: 70%;
    max-width: 70%;
  }
  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
  }
  &__title {
    @include mSubheader;
    font-weight: 600;

    @include tablet {
      @include Subheader;
      font-weight: 600;
    }
  }
  &__container-input {
    display: flex;
  }
  &__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &-1 {
      width: 50%;
      display: flex;
      flex-direction: column;
      padding-right: 1rem;
      border-right: 2px solid $divider-color
    }
    &-2 {
      width: 50%;
      display: flex;
      padding-left: 1rem;
      flex-direction: column;
    }
  }

  &__form {
    border-radius: 4px;
    display: flex;
    padding: 1.25rem;
    flex-direction: column;
    background-color: $background-color;
    box-shadow: 0 6px 6px -2px $shadow-color;
  }
  &__label {
    @include mBodyMedium;
    width: 100%;
    padding-bottom: 0.25rem;
    @include tablet {
      @include BodyMedium;
    }
  }
  &__input {
    width: 100%;
    border-radius: 3.125rem;
    padding: 0.625rem 1rem;
    margin-bottom: 1rem;
    border: 2px solid $primary-cta-color;
  }
  &__container-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
  }
  &__button {
    &-submit {
      @include Buttons;
      color: $third-color;
      background-color: $primary-cta-color;
      border: 0.125rem solid $primary-cta-color;
      width: 12.5rem;
      height: 1.75rem;
      border-radius: 0.25rem;
      transition-duration: 0.4s;
      margin-top: 0.875rem;

      &:hover {
        background-color: $hover-cta-color;
        color: $divider-color;
        border: 0.125rem solid $primary-cta-color;
      }
      &:active {
        box-shadow: 0 3px #666;
        transform: translateY(2px);
      }
    }
    &-cancel {
      @include Buttons;
      background-color: transparent;
      color: $primary-cta-color;
      width: 5rem;
      height: 1.75rem;
      border: none;
      margin-top: 10px;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.create-listing {
  position: absolute;
  top: 8%;
  right: 9%;
  width: 82%;
  max-width: 82%;
  z-index: 20;

  @include tablet {
    top: 5%;
    right: 15%;
    width: 70%;
    max-width: 70%;
  }
  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
  }
  &__title {
    @include mSubheader;
    font-weight: 600;

    @include tablet {
      @include Subheader;
      font-weight: 600;
    }
  }
  &__container {
    display: flex;
    ;
    &-input {
      width: 50%;
      display: flex;
      flex-direction: column;
      padding-right: 1rem;
      border-right: 2px solid $divider-color;
    }
    &-image {
      display: flex;
      flex-direction: column;
      padding-left: 1rem;
      width: 50%;
    }
    &-button {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0.625rem 0;
    }
  }
  
  &__form {
    border-radius: 0.25rem;
    display: flex;
    padding: 1.25rem;
    flex-direction: column;
    background-color: $background-color;
    box-shadow: 0 0.375rem 0.375rem -0.125rem $shadow-color;
  }
  &__label {
    @include mBodyMedium;
    margin-bottom: 0.25rem;
    
    @include tablet {
      @include BodyMedium;
      margin-bottom: 0.25rem;
    }
  }
  &__input {
    width: 100%;
    border-radius: 3.125rem;
    padding: 10px 2rem 10px 1rem;
    margin-bottom: 1rem;
    border: 2px solid $primary-cta-color;
  }
  
  &__button {
    &-submit {
      @include Buttons;
      color: $third-color;
      background-color: $primary-cta-color;
      border: 0.125rem solid $primary-cta-color;
      width: 12.5rem;
      height: 1.75rem;
      border-radius: 0.25rem;
      transition-duration: 0.4s;
      margin-top: 0.875rem;

      &:hover {
        background-color: $hover-cta-color;
        color: $divider-color;
        border: 0.125rem solid $primary-cta-color;
      }
      &:active {
        box-shadow: 0 3px #666;
        transform: translateY(2px);
      }
    }
    &-cancel {
      @include Buttons;
      background-color: transparent;
      color: $primary-cta-color;
      width: 5rem;
      height: 1.75rem;
      border: none;
      margin-top: 10px;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}