@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;

.shop-page {
  @include componentSpacing;
  display: flex;
  flex-direction: column;
  background-color: $third-color;

  &__title {
    @include mHeader;
    display: flex;
    padding-bottom: 1rem;
    border-bottom: 2px solid $primary-cta-color;
    align-items: flex-end;
    gap: 1rem;

    @include tablet {
      @include Header;
    }
  }
  &__results {
    @include mBodyMedium;


    @include tablet {
      @include BodyMedium;
    }
  }
  &__listings {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
