@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;

.shop-page {
  background-color: $alt-background-color;

  &__container {
    @include componentSpacing;
    display: flex;
    flex-direction: column;
  }

  &__title {
    @include mHeader;
    display: flex;
    padding-bottom: 1rem;
    border-bottom: 2px solid $primary-cta-color;
    align-items: flex-end;
    gap: 1rem;
    margin-bottom: 0;

    @include tablet {
      @include Header;
    }
  }
  &__results {
    @include mBodyMedium;
    color: $other-color;

    @include tablet {
      @include BodyMedium;
      color: $other-color;
    }
  }
}
