@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;

.header-container {
  border-bottom: 0.0625rem solid $divider-color;
}
.header {
  @include componentSpacing;
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 3.125rem;
  padding: 1rem;
  background: $background-color;

  @include tablet {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    display: flex;
    height: 3.75rem;
    margin: 0 auto;

    @include tablet {
      margin: 0;
    }
  }

  &__nav-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;

    @include tablet {
      justify-content: flex-end;
      flex-direction: row;
      align-items: center;
      // width: 34%;
    }
  }

  &__label {
    display: flex;
    flex: 1;
    position: relative;
    align-items: center;

    @include tablet {
      flex: 0;
      margin-right: 1.5rem;
      min-width: 15rem;
    }
  }

  &__search {
    height: 2.25rem;
    margin: 1rem 0;
    padding: 0.75rem 0.75rem 0.75rem 1rem;
    flex: 1;
    border-radius: 3.125rem;
    outline: none;
    border: 0.0625rem solid $other-color;
    background-color: $alt-background-color;

    &--active:focus {
      border: 2px solid $primary-cta-color;
    }
    &::placeholder {
      color: $primary-text-color;
      font-size: 0.75rem;
      line-height: 1.25rem;
    }

    @include tablet {
      width: 100%;
      height: 2.5rem;
      margin: 1rem 0;
      padding: 0.75rem 0.75rem 0.75rem 1.5rem;

      &::placeholder {
        font-size: 0.8125rem;
      }
    }
  }
  &__button {
    height: 2.25rem;
    border: none;
    background: none;
    position: absolute;
    bottom: 1.0625rem;
    right: 0.6875rem;
    cursor: pointer;

    &-wrapper {
      display: flex;
      flex-direction: column;
    }
    &-signup {
      @include Buttons;
      color: $third-color;
      background-color: $primary-cta-color;
      border: 2px solid $primary-cta-color;
      width: 100%;
      border-radius: 0.25rem;
      transition-duration: 0.4s;

      &:hover {
        background-color: $hover-cta-color;
        color: $divider-color;
        border: 2px solid $primary-cta-color;
      }
      &:active {
        box-shadow: 0 0.3125rem #666;
        transform: translateY(4px);
      }
    }
    &-login {
      @include Buttons;
      background-color: $third-color;
      color: $primary-cta-color;
      margin-bottom: 0.25rem;
      width: 100%;
      border: 2px solid $other-color;
      border-radius: 0.25rem;
      transition-duration: 0.4s;

      &:hover {
        background-color: $other-hover-color;
        color: $primary-cta-color;
      }
      &:active {
        box-shadow: 0 0.3125rem #666;
        transform: translateY(4px);
      }
    }
    @include tablet {
      bottom: 1.1875rem;
      right: 0.875rem;
    }
  }
  &__wrapper {
    display: flex;
    align-items: center;
  }
  &__likes-icon {
    height: 1.25rem;
    margin-right: 1.5rem;
  }
  &__avatar {
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 50%;
    background-image: url(../../assets/images/avatar_image.jpg);
    background-size: cover;
    background-position: 25%;
    overflow: hidden;
    cursor: pointer;

    @include tablet {
      width: 2.5rem;
      height: 2.5rem;
      order: 1;
    }
  }
}

.nav-container {
  border-bottom: 0.0625rem solid $divider-color;
  box-shadow: 0 2px 2px -2px $alt-text-color;
}
.nav {
  @include componentSpacing;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-weight: 600;
  @include mBodySmall;

  @include tablet {
    @include BodyMedium;
  }
  @include desktop {
    @include BodyLarge;
  }

  &__link {
    color: $primary-cta-color;
    font-weight: 400;
    width: 10%;
    min-width: 3.125rem;
    text-align: center;
    padding: 1rem 0;

    &--current {
      width: 10%;
      padding: 0;
      font-weight: 600;
      color: $hover-cta-color;
      border-radius: 30px;
      border: 2px solid $other-color;
    }
    &:hover {
      width: 10%;
      padding: 0;
      font-weight: 600;
      color: $hover-cta-color;
      border-radius: 30px;
      border: 2px solid $other-color;
    }
    &:active {
      box-shadow: 0 2px #666;
      transform: translateY(2px);
    }
  }
  &__img {
    height: 2.75rem;
    margin: 0;
  }
  &__container {
    margin-top: 1rem;
    width: 10.625rem;
    padding-right: 2.5rem;
    margin-bottom: 0.625rem;
    border: 0.125rem solid $divider-color;
    display: flex;
    align-items: center;
  }
}
