@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;

.header-container {
  border-bottom: 0.0625rem solid $divider-color;
}
.header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 3.125rem;
  padding: 1rem;
  background: $background-color;

  @include tablet {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 2.5rem;
  }
  @include desktop {
    padding: 0 7.5rem;
    margin: 0 auto;
    max-width: 80rem;
  }

  &__logo {
    display: flex;
    height: 42px;
    margin: 0 auto;

    @include tablet {
      margin: 0;
    }

  }

  &__nav-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;

    @include tablet {
      flex-direction: row;
      align-items: center;
      width: 75%;
    }
  }

  &__label {
    display: flex;
    flex: 1;
    position: relative;

    @include tablet {
      flex: 0;
      margin-right: 1.5rem;
      min-width: 15rem;
    }
  }

  &__search-icon {
    position: absolute;
    bottom: 1.5625rem;
    left: 0.6875rem;

    @include tablet {
      bottom: 1.6875rem;
      left: 0.875rem;
    }
  }

  &__search {
    height: 2.25rem;
    margin: 1rem 0;
    padding: 0.75rem 0.75rem 0.75rem 2.125rem;
    flex: 1;
    border-radius: 3.125rem;
    outline: none;
    border: 0.0625rem solid $other-color;
    background-color: $alt-background-color;

    &--active:focus {
      border: 0.125rem solid $primary-cta-color;
    }
    &::placeholder {
      color: $primary-text-color;
      font-size: 0.75rem;
      line-height: 1.25rem;
    }

    @include tablet {
      width: 100%;
      height: 2.5rem;
      margin: 1rem 0;
      padding: 1.3rem 1rem 1.25rem 2.75rem;

      &::placeholder {
        font-size: 0.8125rem;
      }
    }
  }
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
  }
  &__likes-icon {
    height: 1.25rem;
  }
  &__avatar {
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 50%;
    background-image: url(../../assets/images/avatar_image.jpg);
    background-size: cover;
    background-position: 25%;
    overflow: hidden;
    cursor: pointer;

    @include tablet {
      width: 2.5rem;
      height: 2.5rem;
      order: 1;
    }

    @include desktop {
      
    }
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 80rem;
  width: 100%;
  margin: 0 auto;
  font-weight: 600;
  padding: 1rem;

  @include desktop {
    padding: 0 7.5rem;
  }

  &__link {
    color: $primary-cta-color;
    font-weight: 400;

    &--current{
      color: black;
      padding: 1rem 0 1rem;
      border-bottom: 4px solid $hover-cta-color;
    }
  }
  &__img {
    height: 2.75rem;
    margin: 0;
  }
  &__container {
    margin-top: 1rem;
    width: 10.625rem;
    padding-right: 2.5rem;
    margin-bottom: 0.625rem;
    border: 0.125rem solid $divider-color;
    display: flex;
    align-items: center;
  }
}

