@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;

.header-container {
  border-bottom: 0.0625rem solid $divider-color;
}
.header {
  @include componentSpacing;
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 3.125rem;
  padding: 1rem;
  background: $background-color;

  @include tablet {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    display: flex;
    height: 3.75rem;
    margin: 0 auto;

    @include tablet {
      margin: 0;
    }
  }

  &__nav-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;

    @include tablet {
      justify-content: flex-end;
      flex-direction: row;
      align-items: center;
      gap: 1rem;
    }
  }

  &__label {
    display: flex;
    flex: 1;
    position: relative;
    align-items: center;

    @include tablet {
      flex: 0;
      margin-right: 1rem;
      min-width: 15rem;
    }
  }

  &__search {
    height: 2.25rem;
    margin: 1rem 0;
    padding: 0.75rem 0.75rem 0.75rem 1rem;
    flex: 1;
    border-radius: 3.125rem;
    outline: none;
    border: 0.0625rem solid $other-color;
    background-color: $alt-background-color;

    &--active:focus {
      border: 0.125rem solid $primary-cta-color;
    }
    &::placeholder {
      color: $primary-text-color;
      font-size: 0.75rem;
      line-height: 1.25rem;
    }

    @include tablet {
      width: 100%;
      height: 2.5rem;
      margin: 1rem 0;
      padding: 0.75rem 0.75rem 0.75rem 1.5rem;

      &::placeholder {
        font-size: 0.8125rem;
      }
    }
  }
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;

    @include tablet {
      justify-content: space-between;
      width: 10rem;
    }
  }
  &__button {
    height: 2.25rem;
    border: none;
    background: none;
    position: absolute;
    bottom: 1.0625rem;
    right: 0.6875rem;
    cursor: pointer;

    @include tablet {
      bottom: 1.1875rem;
      right: 0.875rem;
    }

    &-signup {
      @include Buttons;
      width: 6rem;
    }
    &-login {
      font-size: 0.875rem;
      font-weight: 600;
      line-height: 1.375rem;
      cursor: pointer;
      background-color: transparent;
      color: $primary-cta-color;
      width: 5rem;
      height: 1.75rem;
      border: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__dropdown {
    position: absolute;
    box-shadow: 0 3px 3px -2px $alt-text-color;
    top: 115%;
    background-color: $background-color;
    border: 0.0625rem solid $alt-text-color;
    border-radius: 0.3125rem;
    padding: 0.625rem;
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
    z-index: 500;

    @include tablet {
      top: 100%;
      right: 0;
    }

    &-wrapper {
      border-top: 0.0625rem solid $divider-color;
      border-bottom: 0.0625rem solid $divider-color;
    }
    &-account {
      @include BodyLarge;
      font-weight: bold;
      color: $primary-text-color;
    }
    &-item {
      @include BodyMedium;
      cursor: pointer;
      padding: 0.3125rem;
      color: $primary-text-color;

      &:hover {
        background-color: $third-color;
      }
    }
    &-logout {
      cursor: pointer;
      padding: 0 0.3125rem;
      @include BodySmall;
      color: $primary-text-color;
    }
  }

  &__icon {
    &-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &-cart {
      height: 1.5rem;
      margin-bottom: 5px;
      transition: height 0.4s;
    }
    &-favorites {
      height: 1.5rem;
      transition: width 0.4s, height 0.4s;
    }

    &-messages {
      height: 1.5rem;
      transition: width 0.4s, height 0.4s;
    }
  }
  &__avatar {
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 50%;
    background-size: cover;
    background-position: 25%;
    overflow: hidden;
    object-fit: cover;
    cursor: pointer;
    border: 0.125rem solid $primary-text-color;

    @include tablet {
      width: 2.5rem;
      height: 2.5rem;
      order: 1;
    }
  }
}

.nav-container {
  border-bottom: 0.0625rem solid $divider-color;
  box-shadow: 0 0.125rem 0.125rem -0.125rem $alt-text-color;
}
.nav {
  @include componentSpacing;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-weight: 600;
  @include mBodySmall;

  @include tablet {
    @include BodyMedium;
  }
  @include desktop {
    @include BodyLarge;
  }

  &__link {
    display: flex;
    color: $primary-cta-color;
    font-weight: 400;
    width: 10%;
    min-width: 3.125rem;
    justify-content: center;
    padding: 1rem 0;

    &--current {
      width: 10%;
      padding: 0;
      font-weight: 600;
      color: $hover-cta-color;
      border-radius: 1.875rem;
      border: 0.125rem solid $other-color;
    }
    &:hover {
      width: 10%;
      padding: 0;
      font-weight: 600;
      color: $hover-cta-color;
      border-radius: 1.875rem;
      border: 0.125rem solid $other-color;
    }
    &:active {
      box-shadow: 0 0.1875rem #666;
      transform: translateY(0.125rem);
    }
  }
  &__img {
    height: 2.75rem;
    margin: 0;
  }
  &__container {
    margin-top: 1rem;
    width: 10.625rem;
    padding-right: 2.5rem;
    margin-bottom: 0.625rem;
    border: 0.125rem solid $divider-color;
    display: flex;
    align-items: center;
  }
}
