@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;

.public-listing {
  border-radius: 0.625rem;
  margin-bottom: 4rem;
  background-color: $third-color;
  width: 17.1875rem;

  @include desktop {
    width: 19rem;
  }

  &__container {
    position: relative;

    &-image {
      display: flex;
      width: 100%;
      height: 12.5rem;
    }
    &-details {
      margin: 1rem 1rem 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1rem;
    }
  }
  &__image {
    margin: 1rem 1rem 0;
    object-fit: cover;
    overflow: hidden;
    border-radius: 0.625rem;
    width: 100%;
  }

  &__icon-likes {
    &--fill {
      width: 1.5rem;
      cursor: pointer;
      transition: width 0.4s, height 0.4s;

      &:hover {
        width: 1.7rem;
      }
    }

    &--nofill {
      width: 1.5rem;
      cursor: pointer;
      transition: width 0.4s, height 0.4s;

      &:hover {
        width: 1.675rem;
      }
    }
  }
  &__title {
    @include BodyLarge;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    margin: 0;
    padding: 0.25rem 0;
    width: 100%;
  }
  &__price {
    @include BodyLarge;
    margin: 1rem 0;
    padding-bottom: 0.25rem;
    font-weight: 600;
  }
  &__button-view {
    @include Buttons;
    width: 9rem;
  }
}
