@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;

.login-container {
  background-color: $alt-background-color;
}

.login {
  @include componentSpacing;
  display: flex;
  flex-direction: column;

  &__title {
    @include PageTitle;
    margin-bottom: 1rem;
  }
  &__button {
    @include mButtons;
    background-color: $third-color;
    color: $primary-cta-color;
    margin-bottom: 0.25rem;
    width: 100%;
    border-radius: 0.25rem;
    transition-duration: 0.4s;
    margin: 2rem 0;
    padding: 0.125rem 0.625rem;

    &:hover {
      background-color: $other-hover-color;
      color: $primary-cta-color;
    }
    &:active {
      box-shadow: 0 0.3125rem #666;
      transform: translateY(0.25rem);
    }

    @include tablet {
      @include Buttons;
      background-color: $third-color;
      color: $primary-cta-color;
      width: 6rem;

      &:hover {
        background-color: $other-hover-color;
        color: $primary-cta-color;
      }
      &:active {
        box-shadow: 0 0.3125rem #666;
        transform: translateY(0.25rem);
      }
    }
  }
  &__text {
    @include mBodyMedium;
    padding-bottom: 8rem;

    @include tablet {
      @include BodyMedium;
    }
  }
  &__success-message {
    @include mBodyMedium;
    color: $success-color;
    @include tablet {
      @include BodyMedium;
      color: $success-color;
    }
  }
  &__error-message {
    @include mBodyMedium;
    color: $error-color;
    @include tablet {
      @include BodyMedium;
      color: $error-color;
    }
  }
}
