@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;

.footer-container {
  background-color: $hover-cta-color;
}

.footer {
  display: flex;
  flex-direction: column;
  min-height: 3.125rem;
  padding: 1rem;

  @include tablet {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 2.5rem;
  }
  @include desktop {
    padding: 0 7.5rem;
    margin: 0 auto;
    max-width: 80rem;
  }
  &__logo {
    display: flex;
    height: 2.1875rem;
  

    @include tablet {
      height: 2.625rem;
    }
  }
  &__block-1 {
    display: flex;
    flex-direction: column;

    @include tablet {
      flex-direction: row;
    }
  }
  &__block-2 {
    padding: 4rem 0 1rem;
  }
  &__divider {
    padding-top: 1rem;
    @include tablet {
      padding-right: 1rem;
    }
  }
  &__wrapper {
    display: flex;
    flex-direction: column;

    @include tablet {
      flex-direction: r;
    }
  }
  &__subtitle {
    @include mBodyMedium;
    color: $logo-color;
    font-weight: 600;

    @include tablet {
      @include BodyMedium;
    }
    @include desktop {
      @include BodyLarge;
    }
  }
  &__link {
    @include mBodyMedium;
    color: $third-color;

    @include tablet {
      @include BodyLarge;
    }
  }
  &__form {
    display: flex;
    flex-direction: row;
    align-items: center; 
    width: 75%; 
  }
  &__label {
    display: flex;
    flex: 1;
  }
  &__input {
    height: 40px;
    border-radius: 3.125rem;
    border: 2px solid $logo-color;
    padding: 10px;
    background: $third-color;
    flex: 1;
  }
  &__button {
    border: none;
    padding: 0;
    background: transparent;
  }
  &__icon {
    height: 1.5rem;
    margin-right: 1rem;

    &--size {
      height: 2.5rem;
      margin: 0;
    }
  }
}
