@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;

.sell-page {
    background-color: $alt-background-color;
    padding-bottom: 13rem;
  
    &__container {
      @include componentSpacing;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    &__title {
        @include PageTitle;
    }
    &__user-listings {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: 100%;
    }
}