@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;

.listings-details {
  position: absolute;
  top: -2%;
  right: 32%;
  z-index: 20;

  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
  }

  &__item {
    background-color: $background-color;
    display: flex;
    flex-direction: column;
    border: 0.125rem solid $divider-color;
    border-radius: 0.375rem;
    box-shadow: 0 0.1875rem 0.1875rem -0.125rem $primary-text-color;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
    width: 600px;

    &-heading {
      width: 100%;
      display: flex;
      @include mSubheader;
      font-size: 1.25rem;
      font-weight: 600;
      margin: 1rem 0;
      border-bottom: 0.125rem solid $primary-text-color;
      justify-content: space-between;
      align-items: center;

      @include tablet {
        @include Subheader;
        font-size: 1.25rem;
        font-weight: 600;
      }
    }
    &-edit {
      display: flex;
      justify-content: flex-end;
      @include mBodyMedium;
      font-weight: 600;
      gap: 0.25rem;
      cursor: pointer;

      @include tablet {
        @include BodyMedium;
        font-weight: 600;
      }
    }
    &-icon {
      width: 1.5rem;
      margin: 0.5rem 0;
    }
    &-container {
      width: 100%;
      height: 400px;
      display: flex;
      background-color: $alt-background-color;
    }

    &-image {
      object-fit: cover;
      overflow: hidden;
      border-radius: 0.625rem;
    }

    &-block {
      width: 100%;
      display: flex;
      flex-direction: row;
      gap: 1rem;
      margin-top: 1rem;
      border-top: 0.125rem solid $primary-text-color;
      padding: 1rem 0;
    }
    &-wrapper {
      &--left {
        display: flex;
        flex-direction: column;
      }
      &--right {
        display: flex;
        flex-direction: column;
        width: 100%;
      }
    }
    &-type {
      @include mBodyLarge;
      font-weight: 600;
      margin: 0;
      padding-bottom: 0.25rem;
      
      @include tablet {
        @include BodyLarge;
        font-weight: 600;
      }
    }
    &-value {
      @include mBodyLarge;
      font-weight: 600;
      margin: 0;
      padding-bottom: 0.25rem;
    
      @include tablet {
        @include BodyLarge;
      }
    }
  }
  &__button-close {
    @include Buttons;
  }
}

