@use "./styles/partials/typography" as *;
@use "./styles/partials/colors" as *;
@use "./styles/partials/mixins" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Lexend, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

body {
  margin: 0;
}
main {
  display: flex;
  flex-direction: column;
  max-width: 81.25rem;
  margin: 0 auto;
}

a {
  text-decoration: none;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}
a:link,
a:visited {
  text-decoration: none;
}

input {
  font-family: Lexend, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}
button {
  font-family: Lexend, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}
