@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;

.user-profile {
  display: flex;
  flex-direction: column;

  @include tablet {
    flex-direction: row;
  }
  &__left-container {
    @include tablet {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      width: 50%;
      padding-right: 2rem;
      padding-bottom: 2rem;
      border-right: 2px solid $divider-color;
    }
  }
  &__right-container {
    @include tablet {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      width: 50%;
      padding-left: 2rem;
    }
  }

  &__stats-wrapper {
    padding: 1rem 0;
  }
  &__bio-wrapper {
    border-top: 2px solid $divider-color;
    border-bottom: 2px solid $divider-color;
    padding: 1rem 0;
  }
  &__info-wrapper {
    padding: 1rem 0;
    border-bottom: 2px solid $divider-color;

    @include tablet {
      border-bottom: none;
    }
  }

  &__block {
    &-data {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &-text {
      display: flex;
      align-items: center;
      flex-direction: column;
    }
  }
  &__title {
    @include mSubheader;
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;

    @include tablet {
      @include Subheader;
      font-size: 1.25rem;
      font-weight: 600;
    }
  }
  &__button {
    &-edit {
      @include Buttons;
    }
  }
  &__avatar {
    width: 3.125rem;
    height: 3.125rem;
    border: 0.125rem solid $primary-text-color;
    border-radius: 50%;
    background-size: cover;
    background-position: 25%;
    object-fit: cover;
    overflow: hidden;
    cursor: pointer;
    margin-right: 1rem;

    @include tablet {
      width: 80px;
      height: 80px;
    }
  }
  &__subtitle {
    @include mBodyLarge;
    font-weight: 600;

    @include tablet {
      @include BodyLarge;
      font-size: 1.25rem;
      font-weight: 600;
      margin: 0;
    }
  }

  &__text {
    margin: 1rem;
    @include mBodyMedium;

    &--spacing {
      margin-bottom: 1.375rem;
    }
    @include tablet {
      @include BodyMedium;
    }
  }

  &__data {
    @include mBodyLarge;
    font-weight: 600;
    color: $primary-cta-color;

    @include tablet {
      @include BodyLarge;
      font-weight: 600;
    }
  }

  &__icon-star {
    height: 18px;
  }
  &__info {
    &-title {
      @include mBodyLarge;
      display: flex;
      align-items: center;
      font-weight: 600;
      margin: 0;

      @include tablet {
        @include BodyLarge;
        font-weight: 600;
      }
    }
    &-block {
      width: 100%;
      display: flex;
      flex-direction: row;
      gap: 3rem;
      padding: 1rem 0;
    }
    &-wrapper {
      &--left {
        display: flex;
        flex-direction: column;
      }
      &--right {
        display: flex;
        flex-direction: column;
      }
    }
    &-type {
      @include mBodyLarge;
      font-weight: 600;
      margin: 0;
      padding-bottom: 4px;

      @include tablet {
        @include BodyLarge;
        font-weight: 600;
      }
    }
    &-value {
      @include mBodyLarge;
      font-weight: 600;
      margin: 0;
      padding-bottom: 4px;

      @include tablet {
        @include BodyLarge;
      }
    }
  }
  &__bio {
    @include mBodyMedium;
    margin: 0 0 1rem;

    @include tablet {
      @include BodyMedium;
    }

    &-title {
      @include mBodyLarge;
      display: flex;
      align-items: center;
      font-weight: 600;
      margin: 0 0 1rem;

      @include tablet {
        @include BodyLarge;
        font-weight: 600;
      }
    }
  }
}
