@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;

.shop-content {
  &__navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
  }
  &__title {
    @include mBodyLarge;

    @include tablet {
      @include BodyLarge;
      font-weight: 600;
    }
  }
  &__results {
    @include mBodyLarge;

    @include tablet {
      @include BodyLarge;
      font-weight: 600;
      font-style: italic;
    }
  }
  &__subtitle {
    @include mBodyLarge;
    display: flex;
    font-weight: 600;
    margin: 1rem 0 0.5rem;
    cursor: pointer;
    gap: 0.1875rem;

    @include tablet {
      @include BodyLarge;
      font-weight: 400;
    }
    &:hover {
      font-weight: 600;
    }
  }
  &__sort {
    @include mBodyLarge;
    display: flex;
    font-weight: 600;
    margin: 1rem 0 0.5rem;
    cursor: pointer;
    gap: 0.1875rem;

    @include tablet {
      @include BodyLarge;
      font-weight: 400;
    }
    &:hover {
      font-weight: 600;
    }
  }
  &__listings {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;

    @include tablet {
      justify-content: center;
      gap: 1rem;
    }
  }
  &__icon {
    width: 1.25rem;

    &:hover {
      animation: moveUpDown2px 1s infinite;
    }

    @keyframes moveUpDown2px {
      50% {
        transform: translateY(0.125rem);
      }
      50% {
        transform: translateY(-0.125rem);
      }
    }
  }

  &__icon-down {
    width: 1.25rem;

    &:hover {
      animation: moveDown2px 1s infinite;
    }

    @keyframes moveDown2px {
      100% {
        transform: translateY(0.125rem);
      }
    }
  }

  &__icon-up {
    width: 1.25rem;

    &:hover {
      animation: moveUp2px 1s infinite;
    }

    @keyframes moveUp2px {
      100% {
        transform: translateY(-0.125rem);
      }
    }
  }
}
